<h1>
    sigh up
</h1>
<form action ="user/create" method ="post">
    <input type="text" name="name" placeholder="your name" required>
    <input type="email" name="email" placeholder="your email" required>
    <input type="password" name="password" placeholder="your name" required>
    <input type="password" name="confirm-password" placeholder="confirm password" required>
    <input type="submit" value="sign up">
    
</form>